/* ======= COMMOND STYLES ======= */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ======= HEADER STYLES ======= */
.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.text-color-iris {
  color: #4d5ae5;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-adress-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-adress-link:hover,
.menu-adress-link:focus {
  color: #404bbf;
}

/* ======= HERO STYLES ======= */

.page-hero {
  background-color: #2e2f42;
}

.mine-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* ======= FOOTER STYLES ======= */

.page-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
